.header-nav {
  background-color: blue;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  text-decoration: underline;
}
